In [ ]:
# Importing Libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#Loading the dataset to a Pandas Dataframe
credit_data = pd.read_csv('/content/creditcard.csv',error_bad_lines=False)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 1987: expected 31 fields, saw 39\nSkipping line 3969: expected 31 fields, saw 34\nSkipping line 5956: expected 31 fields, saw 37\n'

In [ ]:
#Print first 5 rows
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
#Print last 5 rows
credit_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
243126,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
243127,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
243128,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
243129,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
243130,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [ ]:
#Dataset Info
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243131 entries, 0 to 243130
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    243131 non-null  float64
 1   V1      243131 non-null  float64
 2   V2      243131 non-null  float64
 3   V3      243131 non-null  float64
 4   V4      243131 non-null  float64
 5   V5      243131 non-null  float64
 6   V6      243131 non-null  float64
 7   V7      243131 non-null  float64
 8   V8      243131 non-null  float64
 9   V9      243131 non-null  float64
 10  V10     243131 non-null  float64
 11  V11     243131 non-null  float64
 12  V12     243131 non-null  float64
 13  V13     243131 non-null  float64
 14  V14     243131 non-null  float64
 15  V15     243131 non-null  float64
 16  V16     243131 non-null  float64
 17  V17     243131 non-null  float64
 18  V18     243131 non-null  float64
 19  V19     243131 non-null  float64
 20  V20     243131 non-null  float64
 21  V21     243131 non-null  float64
 22  V22     243131 non-null  float64
 23  V23     243131 non-null  float64
 24  V24     243131 non-null  float64
 25  V25     243131 non-null  float64
 26  V26     243131 non-null  float64
 27  V27     243131 non-null  float64
 28  V28     243131 non-null  float64
 29  Amount  243131 non-null  float64
 30  Class   243131 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 57.5 MB

In [ ]:
#Check for missing values
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
#Distribution of Valid Transaction and Fraud Transaction
credit_data['Class'].value_counts()

0    242779
1       352
Name: Class, dtype: int64

**Data Set is Highly unbalanced
0 - Valid Transaction
1 - Fraud Transaction**

In [ ]:
valid = credit_data[credit_data.Class == 0]
fraud = credit_data[credit_data.Class == 1]

In [ ]:
print(valid.shape)
print(fraud.shape)

(242779, 31)
(352, 31)

In [ ]:
valid.Amount.describe()

count    242779.000000
mean         87.437398
std         251.361976
min           0.000000
25%           5.175000
50%          21.090000
75%          75.745000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     352.000000
mean      132.951364
std       265.472754
min         0.000000
25%         1.000000
50%         9.555000
75%       129.302500
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
#Comparing Values for both Transcation
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,105926.645575,0.04429,-0.004458,-0.109296,-0.041490,0.049184,-0.016177,0.031029,-0.010073,-0.025662,...,-0.008455,0.004345,0.018906,0.006289,-0.001122,-0.024074,-0.004413,-0.000307,-0.000961,87.437398
1,102297.789773,-3.50951,2.798845,-5.526968,3.918503,-2.037282,-1.026550,-4.453789,-0.772573,-2.143763,...,0.330409,0.638255,0.121684,0.067284,-0.114624,-0.045108,0.006180,-0.002061,0.091419,132.951364

In [ ]:
#Under Sampling
#Build a sample dataset containing similar distribution of Valid transactions and Fraud Transactions

#Number of Fraudulent Transactions --> 352

valid_sample = valid.sample(n=352)

In [ ]:
new_dataset = pd.concat([valid_sample,fraud],axis = 0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
56251,66442.0,1.106094,-0.035540,1.269003,1.287881,-0.734528,0.287533,-0.588034,0.189766,0.782508,...,-0.025515,0.196788,0.015115,0.103682,0.364845,-0.382102,0.093091,0.036791,11.50,0
81630,76878.0,-1.241732,1.177002,1.377832,-0.102553,0.141419,-0.206862,0.225707,0.336337,-0.437809,...,0.183403,0.374117,-0.352924,-0.428081,0.795115,-0.349164,-0.372938,-0.096184,9.99,0
118893,113466.0,2.046233,0.078113,-1.815008,0.223933,0.635353,-0.302349,0.045911,-0.031765,0.285977,...,-0.330058,-0.881661,0.299724,0.120383,-0.269474,0.179030,-0.064967,-0.044889,0.89,0
126836,119263.0,1.929860,-1.265139,-0.278205,-0.298693,-1.460140,-0.336919,-1.092912,0.065906,0.034932,...,-0.081775,0.242721,0.169143,0.089540,-0.449708,0.699274,-0.026475,-0.045072,76.50,0
91048,80089.0,0.963618,0.578761,0.178562,0.568439,-0.014372,-0.707101,0.299401,-0.167258,-0.073814,...,-0.168488,-0.406664,0.350735,-0.115313,-1.068855,-0.001935,-0.050229,-0.128073,2.69,0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
238187,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
238467,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
238473,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
239468,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
239998,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
new_dataset['Class'].value_counts()

0    352
1    352
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,108433.755682,0.070505,0.022596,-0.104090,-0.021213,0.167084,-0.138801,-0.009807,0.078293,-0.079386,...,-0.011646,-0.017683,-0.053530,0.008343,0.014707,-0.046250,0.03179,0.004102,-0.007204,68.637273
1,102297.789773,-3.509510,2.798845,-5.526968,3.918503,-2.037282,-1.026550,-4.453789,-0.772573,-2.143763,...,0.330409,0.638255,0.121684,0.067284,-0.114624,-0.045108,0.00618,-0.002061,0.091419,132.951364

In [ ]:
#Splitting the data into Features and Targets
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
56251    66442.0  1.106094 -0.035540  1.269003  1.287881 -0.734528  0.287533
81630    76878.0 -1.241732  1.177002  1.377832 -0.102553  0.141419 -0.206862
118893  113466.0  2.046233  0.078113 -1.815008  0.223933  0.635353 -0.302349
126836  119263.0  1.929860 -1.265139 -0.278205 -0.298693 -1.460140 -0.336919
91048    80089.0  0.963618  0.578761  0.178562  0.568439 -0.014372 -0.707101
...          ...       ...       ...       ...       ...       ...       ...
238187  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
238467  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
238473  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
239468  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
239998  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
56251  -0.588034  0.189766  0.782508  ... -0.116945 -0.025515  0.196788
81630   0.225707  0.336337 -0.437809  ... -0.199135  0.183403  0.374117
118893  0.045911 -0.031765  0.285977  ... -0.156671 -0.330058 -0.881661
126836 -1.092912  0.065906  0.034932  ... -0.498300 -0.081775  0.242721
91048   0.299401 -0.167258 -0.073814  ... -0.030147 -0.168488 -0.406664
...          ...       ...       ...  ...       ...       ...       ...
238187 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
238467 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
238473 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
239468 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
239998  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
56251   0.015115  0.103682  0.364845 -0.382102  0.093091  0.036791   11.50
81630  -0.352924 -0.428081  0.795115 -0.349164 -0.372938 -0.096184    9.99
118893  0.299724  0.120383 -0.269474  0.179030 -0.064967 -0.044889    0.89
126836  0.169143  0.089540 -0.449708  0.699274 -0.026475 -0.045072   76.50
91048   0.350735 -0.115313 -1.068855 -0.001935 -0.050229 -0.128073    2.69
...          ...       ...       ...       ...       ...       ...     ...
238187  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
238467 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
238473  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
239468 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
239998 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[704 rows x 30 columns]

In [ ]:
print(Y)

56251     0
81630     0
118893    0
126836    0
91048     0
         ..
238187    1
238467    1
238473    1
239468    1
239998    1
Name: Class, Length: 704, dtype: int64

In [ ]:
#Split data into Training and Test Data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(704, 30) (563, 30) (141, 30)

In [ ]:
#Model Training Logistic Regression
model = LogisticRegression()

In [ ]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
#Model Evaluation and Accuracy Score
X_train_Prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_Prediction,Y_train)

In [ ]:
print("Accuracy on Training Data = ",training_data_accuracy)

Accuracy on Training Data =  0.9502664298401421

In [ ]:
#Accuracy on test data
X_test_Prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_Prediction,Y_test)

In [ ]:
print("Accuracy on Testing Data = ",testing_data_accuracy)

Accuracy on Testing Data =  0.9078014184397163